@mixin hover {
    @media (any-hover: hover) {
        &:hover {
            @content;
        }
    }
}

@mixin placeholder-shown() {
    &:placeholder-shown {
        @content;
    }
}

@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-moz-placeholder') {
        @content;
    }

    @include optional-at-root('::-moz-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}

@mixin scrollbars(
    $size,
    $foreground-color,
    $background-color: mix($foreground-color, white 50%)
) {
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
    }
    &::-webkit-scrollbar-thumb {
        background: $foreground-color;
    }
    &::-webkit-scrollbar-track {
        background: $background-color;
    }
    & {
        scrollbar-face-color: $foreground-color;
        scrollbar-track-color: $background-color;
    }
}

@mixin generate-spacing(
    $type: margin,
    $directions: (
        't',
        'r',
        'b',
        'l',
        'x',
        'y',
    ),
    $max: 20
) {
    @each $dir in $directions {
        @for $i from 1 through $max {
            $value: $spacer * $i;

            @if $dir == 'x' {
                .#{if($type == margin, 'm', 'p')}x-#{$i} {
                    #{$type}-left: $value !important;
                    #{$type}-right: $value !important;
                }
            } @else if $dir == 'y' {
                .#{if($type == margin, 'm', 'p')}y-#{$i} {
                    #{$type}-top: $value !important;
                    #{$type}-bottom: $value !important;
                }
            } @else {
                $side: null;
                @if $dir == 't' {
                    $side: top;
                }
                @if $dir == 'r' {
                    $side: right;
                }
                @if $dir == 'b' {
                    $side: bottom;
                }
                @if $dir == 'l' {
                    $side: left;
                }

                .#{if($type == margin, 'm', 'p')}#{$dir}-#{$i} {
                    #{$type}-#{$side}: $value !important;
                }
            }
        }
    }
}

@mixin sm {
    @media only screen and (max-width: $sm) {
        @content;
    }
}

@mixin md {
    @media only screen and (max-width: $md) {
        @content;
    }
}

@mixin lg {
    @media only screen and (max-width: $lg) {
        @content;
    }
}

@mixin xl {
    @media only screen and (max-width: $xl) {
        @content;
    }
}

@mixin xxl {
    @media only screen and (max-width: $xxl) {
        @content;
    }
}
