$gold: #eac666;
$silver: #bcbcbc;

$gradient-start: #b87c1d;
$gradient-end: #eac666;

$inter: 'Inter', sans-serif;
$gilmer: 'Gilmer', sans-serif;

$container-gap: 1rem;
$container-width: 90rem;

$sm: 36rem;
$md: 48rem;
$lg: 64rem;
$xl: 80rem;
$xxl: 90rem;
